@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Sen, Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: rgba(75, 93, 104, 1);
  line-height: 1.15;
}
body {
  background: #f6fafd;
}
.container {
  padding: 20px 50px;
  max-width: 1400px;
  margin: 0 auto;
}

/* Header */
header.container {
  display: flex;
  align-items: center;
  gap: 100px;
  padding-top: 50px;
}
#logo {
  display: flex;
  gap: 20px;
  align-items: flex-end;
}
#logo .small {
  width: 20px;
  height: 20px;
  background: rgba(156, 105, 226, 1);
  border-radius: 50%;
  border: 2px solid rgba(156, 105, 226, 1);
}
#logo .big {
  width: 20px;
  height: 35px;
  border: 2px solid rgba(240, 99, 184, 1);
  background: rgba(240, 99, 184, 1);
  border-radius: 50px;
}
header nav {
  flex: 1;
}
header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
  font-weight: 500;
}
nav .active,
header nav ul a:hover {
  color: rgba(33, 35, 83, 1);
  font-weight: 800;
}
.container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav button > div,
.btns button > div {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgba(33, 35, 83, 1);
}
header button,
.btns button {
  background: rgba(255, 255, 255, 1);
  border-radius: 50px;
  padding: 15px 50px;
  box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.1);
  border: none;
  font-weight: 800;
  cursor: pointer;
}

/* Banner Section */
.banner {
  background-image: url("../img/banner.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.banner .headline {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 640px;
  margin-bottom: 50px;
}
h1 {
  color: rgba(33, 35, 83, 1);
  font-weight: 800;
  font-size: 5rem;
  font-family: Helvetica;
}
h2 {
  font-family: Helvetica;
  font-size: 2.5rem;
  font-weight: 700;
  color: rgba(33, 35, 83, 1);
}
h3 {
  font-family: Helvetica;
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(33, 35, 83, 1);
}
h4 {
  font-size: 1.125rem;
  font-weight: 800;
  color: rgba(33, 35, 83, 1);
}
p {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 2;
}
.headline p {
  width: 55%;
}
.headline a {
  background: rgba(156, 105, 226, 1);
  width: 170px;
  padding: 20px;
  align-self: flex-start;
  border-radius: 50px;
  color: #fff;
  font-weight: 800;
  text-align: center;
}

/* Help Section */
.help {
  margin-top: 100px;
}
.help > div {
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.help .img {
  flex-basis: 50%;
}
.img img {
  width: 90%;
}
.head-desc {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-right: 80px;
}

/* Features Section */
.features {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-left: 150px;
  margin-top: 100px;
}
.features > h2,
.features > p {
  text-align: center;
}
.features-container {
  display: flex;
  gap: 48px 132px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.feature {
  display: flex;
  width: 442px;
  border-radius: 50px;
  padding: 40px;
  justify-content: flex-end;
  position: relative;
  flex-grow: 1;
}
.feature > div {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex-basis: 70%;
  margin-top: 30px;
}
.feature > div a {
  color: rgba(33, 35, 83, 1);
  margin-top: auto;
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 20px;
}
.feature p {
  font-size: 1rem;
  font-weight: 400;
}
.search {
  background: rgba(104, 201, 186, 0.15);
}
.hours {
  background: rgba(156, 105, 226, 0.15);
}
.print {
  background: rgba(240, 99, 184, 0.15);
}
.security {
  background: rgba(45, 156, 219, 0.15);
}
.feature .img {
  position: absolute;
  top: 70px;
  left: -100px;
}

/* Testimonials Section */
.testimonials {
  background: rgba(156, 105, 226, 1);
  border-radius: 50px;
  margin-top: 50px;
  padding: 50px 100px 50px 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 100px;
}
.testimonials h2 {
  color: #fff;
}
.testimonial p {
  font-weight: 400;
}
.testimonial-container {
  display: flex;
  gap: 32px;
  overflow: auto;
  scrollbar-width: none;
}
.testimonial-container::-webkit-scrollbar {
  display: none;
}
.testimonial {
  display: flex;
  padding: 60px;
  gap: 40px;
  box-shadow: 0px 20px 0px 0px rgba(98, 40, 180, 0.3);
  background-color: #fff;
  border-radius: 20px;
  width: 700px;
  flex-shrink: 0;
  margin-top: 30px;
  margin-bottom: 20px;
}
.testimonial .img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: grey;
  flex-shrink: 0;
  overflow: hidden;
}
.testimonial img {
  width: 100%;
}
.testimonial .info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 20px;
}
.testimonial .title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.testimonial .title p {
  color: rgba(156, 105, 226, 1);
  font-weight: 500;
  font-size: 0.875rem;
}
.testimonials nav {
  gap: 32px;
}
.testimonials button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.testimonials nav .circles,
.testimonials .nav-icons {
  display: flex;
  gap: 20px;
  align-items: center;
}
.testimonials nav .circles button {
  background: rgba(255, 255, 255, 1);
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.testimonials nav .circles button.active {
  background: rgba(240, 99, 184, 1);
  width: 10px;
  height: 10px;
}

/* Horizontal Rule */
hr {
  background: rgba(156, 105, 226, 1);
  margin-top: 100px;
  height: 2px;
}

/* Sign up Section */
.signup {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: space-between;
}
.signup .texts {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.signup .btns {
  display: flex;
  align-items: center;
  gap: 32px;
}
.btns .learn {
  background: rgba(240, 99, 184, 1);
  width: 170px;
  padding: 20px;
  color: #fff;
  font-weight: 800;
  font-size: 1.125rem;
  text-align: center;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
}
footer .top {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
footer h3 {
  font-weight: 900;
}
footer #logo h3 {
  align-self: center;
  margin-left: 10px;
}
footer section {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
footer .contact {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .contact p,
.contact a {
  font-weight: 400;
  color: rgba(33, 35, 83, 1);
}
footer .contact p.address {
  font-weight: 500;
}
footer .contact p.email-tel {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
footer ul a {
  color: rgba(33, 35, 83, 1);
  font-weight: 400;
}
footer .socials {
  display: flex;
  align-items: center;
  gap: 20px;
}
.socials a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(33, 35, 83, 0.3);
  display: flex;
  place-content: center;
}
footer .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
footer .bottom p {
  color: rgba(33, 35, 83, 1);
  font-size: 0.75rem;
  font-weight: 400;
}
footer .bottom .chat {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(156, 105, 226, 0.15);
  display: flex;
  place-content: center;
}
